### JetBrains IDEs:
.idea
*.iml
*.ipr
*.iws

### Eclipse IDE:
.settings/
.classpath
.project
apitests/.settings/
apitests/.classpath
apitests/.project

### Gradle
build
.gradle
gradle

# Gradle GUI config
gradle-app.setting

### JIRA plugin
atlassian-ide-plugin.xml

### Mac OSX:
.DS_Store

### Generated binaries
bin/
apitests/bin/

### Others:
target
out
logs
*~
classes
mem.h2.db
mem.trace.db
checkout.log.json
checkout.access.log.json
.vagrant
coverage/
out
/src/test/resources/dev/
/src/main/resources/dev/
/src/main/resources/rebel.xml

### NetBeans IDE:
/.nb-gradle/
/nbproject/*
/docker/kred-getorder-mock/kred-getorders/.nb-gradle/
/.nb-gradle-properties
/private/