<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- Navbar -->
<div th:insert="~{components/navbar :: navbar}"></div>

<h4>God's word, God's will</h4>


</div>

</body>
<!-- Footer -->
<div th:insert="~{components/footer :: footer}"></div>
</html>