<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- Navbar -->
<div th:insert="~{components/navbar :: navbar}"></div>
<!-- Back Arrow -->
<div th:insert="~{components/back :: back}"></div>

<h4 th:if="${title}">[[${title}]]</h4>
<div class="container mb-3">
    <form class="bg-light"
          th:action="@{'/reservation/save/'+${transactionId}}" method="POST" th:object="${reservation}">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="cid">ConnectorId</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{connectorId}"
                       id="cid"
                       type="number"
                       th:readonly="true"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="date">Date</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{date}"
                       id="date"
                       th:readonly="true"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="start">From</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{start}"
                       id="start"
                       th:readonly="true"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="stop">To</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{stop}"
                       id="stop"
                       type="time"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="startSoC">Start SoC</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{startSoC}"
                       id="startSoC"
                       th:readonly="true" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="targetSoC">Target SoC</label>
            <div class="col-sm-8">
                <input class="form-control mb-4"
                       th:field="*{targetSoC}"
                       id="targetSoC"
                       type="number" min="${startSoC}" max="100" step="1"/>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary d-block mx-auto mt-4">Submit</button>
    </form>

</div>
</body>
<!-- Footer -->
<div th:insert="~{components/footer :: footer}"></div>
</html>